 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  font: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
.container {
  min-width: 1000px;
}

// Header Bar Across Top

.header {
  background-color: HSLA(0, 0%, 96%, 1);
  border-bottom: 1px solid HSLA(0, 0%, 90%, 1);
  height: 60px;
  padding-top: 10px;
  div {
    display: inline;
  }
  .mega-octicon {
    font-size: 28px;
  }
}
.headerContent {
  width: 980px;
  margin-left: 190px;
  margin-right: 190px;
  height: 30px;
}
.smallUser, .navImages {
  vertical-align: 1px;
}
.octicon-triangle-down {
  font-size: 10px;
  padding-left: 3px;
  margin-left: 0px;
  vertical-align: 1px;
}
.searchBar input {
  position: relative;
  width: 360px;
  height: 30px;
  font-size: 12px;
  vertical-align: center;
  color: HSLA(0, 0%, 66%, 1);
  padding-left: 10px;
  border-radius: 3px;
}
.exploreLinks {
  a {
    text-decoration: none;
    color: HSLA(0, 0%, 20%, 1);
    padding: 4px 6px;
  }
  font-size: 12px;
  font-weight: bold;
  margin-right: 75px;
}

.smallUser {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  img {
    height: 25px;
    vertical-align: -8px;
  }
}
.navImages {
  padding: 5px;
  span {
    padding: 6px;
  }
}
// Main Content Start
.mainContent {
  width: 980px;
  margin: 20px auto;
  display: block;
  overflow: auto;
}
// Start Sidebar
.sideBar {
  width: 230px;
  height: 100%;
  float: left;
}
.avatar {
  border-radius: 6px;
}
h1 {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 26px;
}
h3 {
  font-size: 15px;
}
.nameBox {
  span {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
  }
  img {
    border-radius: 6px;
    width: 230px;
    height: 230px;
  }
}
.loginName {
  color: HSLA(150, 4%, 45%, 1);
}
.blogLink {
  a {
    color: HSLA(205, 65%, 62%, 1);
    text-decoration: none;
    &:hover {
    text-decoration: underline;
    }
  }
}
.octicon-link, .octicon-clock {
  color: HSLA(0, 0%, 80%, 1);
  padding-right: 5px;
}
.userStats {
  ul {
    padding: 0;
  }
  li{
    list-style-type: none;
  }
  .octicon {
    padding-right: 10px;
  }
  font-size: 14px;
}
.nameBox, .userStats, .followerCard, {
  border-bottom: 1px solid HSLA(0, 0%, 93%, 1);
  padding-bottom: 20px;
}
.followerCard {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.counterOne, .counterTwo, .counterThree {
  width: 70px;
  height: 28px;
  padding: 0px;
  margin: 0px auto;
  display: inline-block;
  color: HSLA(210, 53%, 51%, 1);
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}
.followersOne, .starred, .followersTwo {
  font-size: 11px;
  padding: 0px 15px;
  margin: 0px auto;
  display: inline-block;
  color: HSLA(240, 5%, 62%, 1);
}
// Start Middle Content
.middleContent {
  width: 730px;
  float: right;
  margin-left: 20px;
}
.middleNav {
  display: inline-block;
  overflow: auto;
  height: 40px;
  width: 730px;
  font-size: 14px;
  p {
    float: left;
    display: inline-block;
    padding: 0px 10px;
    width: 132px;
    margin-right: 10px;
    border-bottom: 1px solid white;
  }
  #activeTab {
    border-bottom: 1px solid white;
    background-color: white;
  }
  button {
    width: 105px;
    font-size: 12px;
    padding-left: 2px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    vertical-align: 10px;
    text-decoration: none;
    white-space: nowrap;
    background-image: linear-gradient(#eee, #ddd);
    border-color: HSLA(0, 0%, 80%, 1);
    float: right;
  }
  .octicon {
    padding: 2px 4px 2px 5px;
  }
}
// Second Search Nav Bar //
.searchNavBar {
  min-height: 36px;
  padding: 10px 0px;
  font-size: 14px;
  color: HSLA(0, 0%, 66%, 1);
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right center;
  border-radius: 3px;
  border-bottom: 1px solid HSLA(0, 0%, 93%, 1);
  border-top: 1px solid HSLA(0, 0%, 93%, 1);
  outline: none;/*
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075); */

  #navSearch {
    padding: 5px;
    width: 260px;
  }
}
#navSearchButton {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  white-space: nowrap;
  vertical-align: 0px;
  cursor: pointer;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}

.middleLinks {
  display: inline;
  height: 34px;
  width: 365px;
  margin: 0px 0px;
  padding-left: 50px;
  .button {
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #60b044;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    background-repeat: repeat-x;
    border-color: HSLA(104, 44%, 46%, 1);
    height: 34px;
    width: 67px;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
    border-radius: 4px;
  }
  a {
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
    color: HSLA(210, 53%, 51%, 1);
    font-size: 14px;
    &:first-child {
      color: black;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

// Start Repositories
.repositories {
  ul {
    padding: 0px;
  }
  li {
  position: relative;
  padding-top: 0px;
  padding-bottom: 30px;
  list-style: none;
  overflow: auto;
  border-bottom: 1px solid #eee;
  }
  h3 {
    display: block;
    font-size: 20px;
    line-height: 1.2;
    color: HSLA(210, 53%, 51%, 1);
    float: left;
    margin-bottom: 5px;
  }
  .updatedTime {
    display: block;
    float: left;
    clear: both;
    font-size: 13px;
    margin-top: 0px;
    color: HSLA(226, 14%, 59%, 1);
  }
  .repoInfoRight {
    position: relative;
    display: block;
    float: right;
    clear: left;
    margin: -18px 0px 0px 0px;
    font-size: 12px;
    font-weight: bold;
    color: HSLA(0, 0%, 53%, 1);
    span {
      padding-left: 5px;
    }
  }
}

// Start Footer
.footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: HSLA(0, 0%, 47%, 1);
  border-top: 1px solid #eee;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: center;
  max-height: 100px;
  .mega-octicon {
    padding: 0px 5px;
    font-size: 24px;
    color: HSLA(0, 0%, 73%, 1);
  }
  .leftFootNav, .rightFootNav {
    display: inline;
    margin: 0px;
    list-style: none;
    padding: 0px;
    li {
      display: inline;
      padding: 5px;
    }
    a {
      color: HSLA(210, 53%, 51%, 1);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .leftFootNav {
    float: left;
  }
  .rightFootNav {
    float: right;
  }
}
